
.card-holder{
    margin-top:20px;
}
.card-row{
    position: relative;
}
.card{
    
    position: absolute;
    overflow:hidden;
}
.card-button{
    padding:0 4.85rem;
 
}
.card-title{
    margin-top:-.5rem;
    height: 2.5rem;
   
}
.card-image{
    height: 14rem;
    background-size: cover;
}
.card-body{
    width:14rem;
object-fit: cover;
}
.card-text{
   
    height: 2.5rem;
    margin-bottom: 1.6rem;
}
.card-button{
    margin-left:-.5rem;
}